Repository sytone/obsidian-tasks-x: changes, and which lefthook commands are due for each by the changed paths.
All: lint-es, lint-ts, lint-markdown, test

lint-es:
  run: yarn lint:es {staged_files} && git add {staged_files}

lint-ts:
  run: yarn lint:ts {staged_files} && git add {staged_files}

lint-markdown:
  run: yarn lint:markdown

test:
  run: yarn test {staged_files} --findRelatedTests --passWithNoTests

chore: add script to generate license information
  scripts/getLicenses.js
Due: none

style(vscode): add eslint settings to workspace
  .vscode/settings.json
Due: none

revert: package scripts
  lefthook.yml
  package.json
  tsconfig.json
  yarn.lock
Due: none

change: add queryId as a function available in sql query
  src/QuerySql/QuerySql.ts
Due: lint-es, lint-ts, test

refactor: cleanup isFilenameUnique references
  src/QueryRenderer.ts
Due: lint-es, lint-ts, test

change: better default handling
  src/Task.ts
Due: lint-es, lint-ts, test

change: remove extra cobnsole log
  src/TaskRenderer.ts
Due: lint-es, lint-ts, test

build: add license generator lint override
  scripts/getLicenses.js
Due: none

chore(release): 2.6.1
  CHANGELOG.md
  manifest.json
  package.json
  versions.json
Due: lint-markdown

fix: created date appearing twice
  docs/.obsidian/core-plugins.json
  docs/.obsidian/plugins/obsidian-tasks-x-plugin/main.js
  docs/.obsidian/plugins/obsidian-tasks-x-plugin/manifest.json
  docs/.obsidian/workspace
  docs/7-scenarios/issue-13-created-duplication.md
  src/Task.ts
  tests/Task.test.ts
Due: lint-es, lint-ts, lint-markdown, test

Revert "fix: created date appearing twice #13"
  docs/.obsidian/core-plugins.json
  docs/.obsidian/plugins/obsidian-tasks-x-plugin/main.js
  docs/.obsidian/plugins/obsidian-tasks-x-plugin/manifest.json
  docs/.obsidian/workspace
  docs/7-scenarios/issue-13-created-duplication.md
  src/Task.ts
  tests/Task.test.ts
Due: lint-es, lint-ts, lint-markdown, test

chore(release): 2.7.0
  CHANGELOG.md
  manifest.json
  package.json
  versions.json
Due: lint-markdown

Deploying to gh-pages from @ sytone/obsidian-tasks-x@c172f2829df5cdf45c8a6f3fa97577173e149fd0 🚀
  .obsidian/core-plugins.json
  .obsidian/plugins/obsidian-tasks-x-plugin/main.js
  .obsidian/plugins/obsidian-tasks-x-plugin/manifest.json
  .obsidian/workspace
  7-scenarios/issue-13-created-duplication.md
Due: lint-markdown

docs: copy changelog to site and vault
  .config/esbuild.config.mjs
  docs/CHANGELOG.md
  package.json
Due: lint-markdown

chore: update commit message settings
  .vscode/settings.json
Due: none

chore: add exceptions to lefthook
  lefthook.yml
Due: none

feat: move feature management to json
  src/Config/Feature.ts
  src/Config/featureConfiguration.json
  src/QueryRenderer.ts
  src/Task.ts
  tests/Task.test.ts
Due: lint-es, lint-ts, test

feat: add ability to add a inline template
  src/Config/featureConfiguration.json
  src/IQuery.ts
  src/Query/Query.ts
  src/QueryRenderer.ts
  src/QuerySql/QuerySql.ts
  src/TaskRenderer.ts
Due: lint-es, lint-ts, test

chore: update logging file to include additional comments
  src/lib/logging.ts
Due: lint-es, lint-ts, test

Path conditions:
  lint-es: any of: *.ts
  lint-ts: any of: *.ts
  lint-markdown: any of: *.md
  test: any of: *.ts
